{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <h1>Bem-vindo à Página Inicial</h1>
    <p>Esta é a página principal da sua aplicação Flask.</p>
    <a href="/login">Fazer login</a>
    <a href="/register">Cadastrar-se</a>
{% endblock %}

{% block navbar %}
  <div class="navbar">
    <!-- Outros itens da barra de navegação aqui -->

    {% if current_user.is_authenticated %}
      <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>
{% endblock %}